@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body{
    overflow-x: clip ;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    margin: 0;
    letter-spacing: 0.03em;
    line-height: 1.75;
}

p {
    line-height: 2;
}

h1,
h2,
h3,
.font-english {
    font-family: 'Playfair Display', serif;
}

.sub,
.description,
.work p,
.skill-item p,
.contact p,
.footer {
    color: #666;
}


img {
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: #333;
}



.btn {
    display: inline-block;
    margin-top: 32px;
    padding: 14px 28px;
    background: #c8b49b;
    color: #fff;
    letter-spacing: 0.08em;
    transition: 0.3s;
    border-radius: 999px;
}

.btn:hover {
    opacity: 1;
    background: #b79f82;
}

.wrapper {
    width: min(88%, 1100px);
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
}

section {
    padding: 80px 0;
}

.section-title {
    font-weight: 300;
    margin-bottom: 56px;
    letter-spacing: 0.05em;
    text-align: center;
}

.section-title span {
    position: relative;
    display: inline-block;
}

.section-title span::after {
    content: "";
    height: 2.5px;
    width: 56px;
    background-color: #c8b49b;
    position: absolute;
    left: 0;
    bottom: -10px;
}


/*---------------------------------
header
---------------------------------*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
}

.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav a {
    display: block;
}

.nav a:hover {
    opacity: 0.7;
}

.nav li {
    letter-spacing: 0.08em;
}

.logo {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.08em;
}

/*---------------------------------
fv
---------------------------------*/

.fv {
    background: #f7f7f7;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: min(70vh, 800px);
}

.fv .img {
    width: 50%;
    height: 100%;
}

.fv .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fv-text {
    width: 50%;
    margin-left: 8%;
}

.fv .sub {
    letter-spacing: 0.08em;
}

.fv-title {
    font-size: 3.5rem;
    letter-spacing: 0.05em;
    font-weight: 300;
    margin: 24px 0 32px 0;
    position: relative;
}

.fv-title::after {
    content: "";
    height: 2.5px;
    width: 56px;
    background-color: #c8b49b;
    position: absolute;
    left: 0;
    bottom: -10px;
}

/*---------------------------------
about
---------------------------------*/
.about .section-title {
    text-align: left;
}

.about .container {
    justify-content: center;
}

.about .text {
    width: 45%;
    margin-right: 10%;
}

.about .text .big {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.about .img {
    width: 45%;
    height: 100%;
    max-width: 320px;
}

.about .img-circle {
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.about .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 35%;
}

/*---------------------------------
works
---------------------------------*/

.works {
    background-color: #f7f7f7;
}

.works-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.work {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    transition: 0.3s;
}

.work:hover {
    opacity: 0.7;
    transform: translateY(-4px);
}

.work .img {
    margin-bottom: 16px;
    aspect-ratio: 4/3;
    overflow: hidden;
}

.work .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.work p {
    font-size: 14px;
    margin-top: 8px;
}

.works .btn,
.contact .btn {
    display: block;
    width: fit-content;
    margin: 32px auto 0;
}

/*---------------------------------
skill
---------------------------------*/


.skill-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.skill-item {
    position: relative;
    background: #fff;
    padding: 32px 24px;
    border-radius: 8px;
}


.skill-icons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.skill-icons img {
    width: 56px;
}



.skill-item h3 {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    margin: 24px 0 16px 0;
}

/*---------------------------------
contact
---------------------------------*/

.contact {
    background-color: #f7f7f7;
}

.contact p {
    text-align: center;
}

/*---------------------------------
footer
---------------------------------*/
.footer {
    padding: 56px 0 16px 0;
    background-color: #ede8e3;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

.footer img {
    width: 28px;
    height: 28px;
}
.footer a {
    transition: 0.3s;
}

.footer a:hover {
    opacity: 0.7;
}

.footer p {
    font-size: 10px;
    text-align: center;
}



/*========================================
スマホ版
========================================*/
@media screen and (max-width: 768px) {

    section {
        scroll-margin-top: 100px;
        padding: 56px 0;
    }

    /*---------------------------------
     header
    ---------------------------------*/
    .header {
        width: 100%;
        height: 82px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 40;
        background-color: #fff;
    }

    #header .hamburger {
        width: 50px;
        height: 50px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 10%;
        z-index: 30;
    }

    #header .hamburger span {
        width: 30px;
        height: 3px;
        background-color: #333;
        display: inline-block;
        position: absolute;
        left: 10px;
        transition: all 0.4s;
    }

    #header .hamburger span:nth-last-of-type(1) {
        top: 16px;
    }

    #header .hamburger span:nth-last-of-type(2) {
        top: 25px;
    }

    #header .hamburger span:nth-last-of-type(3) {
        top: 34px;
    }

    .nav {
        width: 80%;
        height: 100dvh;
        position: fixed;
        top: 0;
        right: -100%;
        transform: none;
        z-index: 20;
        transition: right 0.6s;
        background-color: #f7f7f7;
    }

    .nav ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
        list-style: none;
    }

    .nav li {
        font-size: 24px;
        padding-bottom: 48px;
        text-align: center;
    }

    /*---------------------------------
      menu open
    ---------------------------------*/

    body.menu-open {
        overflow: hidden;
    }

    .nav.active {
        right: 0;
    }

    #header .hamburger.active span:nth-last-of-type(1) {
        top: 24px;
        transform: rotate(-45deg);
    }

    #header .hamburger.active span:nth-last-of-type(2) {
        opacity: 0;
    }

    #header .hamburger.active span:nth-last-of-type(3) {
        top: 24px;
        transform: rotate(45deg);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        z-index: 10;
    }

    .overlay.active {
        opacity: 1;
        visibility: visible;
    }

    /*---------------------------------
     fv
    ---------------------------------*/

    .fv {
        margin-top: 82px;
        height: auto;
        min-height: auto;
        flex-direction: column-reverse;
        align-items: normal;
    }

    .fv .img {
        width: 100%;
    }
    .fv-title {
    font-size: 2.5rem;
    margin: 16px 0 24px 0;
}

    .fv-text {
        width: 100%;
        padding: 24px 5%;
    }

    /*---------------------------------
     about
    ---------------------------------*/

    .about .container {
        flex-direction: column;
    }

    .about .text {
        width: 100%;
        margin-right: 0;
    }

    .about .text .big {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 24px;
    }

    .about .img {
        margin-top: 32px;
        width: 70%;
    }

    /*---------------------------------
     works
    ---------------------------------*/

    .works-list {
        grid-template-columns: repeat(1, 1fr);
    }

    /*---------------------------------
     skill
    ---------------------------------*/

    .skill-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .skill-item::after {
        display: none;
    }


    /*---------------------------------
     contact
    ---------------------------------*/

}