@charset "UTF-8";

/*---------------------------------
fv
---------------------------------*/

.fv {
    height: min(50vh, 560px);
}

.fv-text {
    padding: 40px 0;
}
.fv-title {
    font-size: 3rem;
}

/*---------------------------------
contact
---------------------------------*/

.contact {
    background-color: #fff;
}

/*========================================
スマホ版
========================================*/
@media screen and (max-width: 768px) {


    /*---------------------------------
     fv
    ---------------------------------*/

    .fv {
        height: auto;
    }
}