@charset "UTF-8";

/*---------------------------------
fv
---------------------------------*/

.fv {
    background: #fff;
}

.fv .img{
    width: 70%;
}

.fv .img img {
    border-radius: 16px;
}

.fv-text {
    width: 30%;
    margin-right: 3%;
}

.fv .sub {
    letter-spacing: 0.08em;
}

.fv-title {
    font-size: 2.25rem;
    font-weight: 600;
}

/*---------------------------------
overview
---------------------------------*/
.overview-list dt {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.overview-list dt img {
    width: 20px;
    height: 20px;
}

/*========================================
スマホ版
========================================*/
@media screen and (max-width: 768px) {
    /*---------------------------------
     fv
    ---------------------------------*/

    .fv .img {
        width: 100%;
    }

    .fv-title {
        font-size: 1.5rem;
    }

    .fv-text {
        width: 100%;
        margin: 0 auto;
    }

}